<div class="container-fluid">
  <div class="row bg-info justify-content-center
          align-items-center" style="height:80px">
      <div class="col-3"></div>
      <div class="col-6 text-light h2">
          Login in
      </div>
  </div>

<form #myForm="ngForm" (ngSubmit)="myForm.form.valid && onSumbit(myForm)">
  <div class="row bg-info justify-content-center
  align-items-center" style="height:80px">

  <div class="form-group col-md-4 mb-3  ">
    <div class="text-light">
    <label>Account</label>
  </div>
    <input type="string" name="travelers" class="form-control" [(ngModel)]="model.account "
      #name="ngModel" [ngClass]="{ 'is-invalid': myForm.submitted && name.invalid }" required >

    <div *ngIf="myForm.submitted && name.invalid" class="invalid-feedback">

      <p *ngIf="name.errors.required">Account mail is required</p>
    </div>
  </div>
</div>


<div class="row bg-info justify-content-center
  align-items-center" style="height:80px">
  <div class="form-group col-md-4 mb-3">
    <div class="text-light">
      <label>Password</label>
    </div>
      <input type="string" name="travelers" class="form-control" [(ngModel)]="model.password "
        #name="ngModel" [ngClass]="{ 'is-invalid': myForm.submitted && name.invalid }" required >

      <div *ngIf="myForm.submitted && name.invalid" class="invalid-feedback">

        <p *ngIf="name.errors.required">Password is required</p>
      </div>
    </div>

  </div>



<div class="row bg-info justify-content-center
  align-items-center" style="height:80px">
  <div class="form-group col-md-4 mb-3">

    <button class="btn btn-primary btn-block" >Submit</button>

  </div>
</div><br>



</form>



