<div class="container-fluid">
<h2>Welcome {{title}}</h2>

<nav>
  <a routerLink="/">Go To Home</a>&nbsp;&nbsp;&nbsp;
  <!-- <a routerLink="/reservation">Reservation</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
  <a routerLink="/login">Login as customer account</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/loginb">Login as business account </a><br>
</nav>
</div>
<router-outlet></router-outlet>
<!--
  <app-reservation></app-reservation> -->
  <!-- <app-login></app-login> -->

  <!-- <app-search></app-search> -->
<!-- <app-test></app-test> -->
<!-- <app-reservation-list></app-reservation-list> -->
<!-- <app-add-table></app-add-table> -->
<!-- <app-table-list></app-table-list> -->


