
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Restaurant 01</h5>
      <small>cancel</small>
    </div>
    <p class="mb-1">(2020/10/01--17:00)    Persons: 3</p>
    <small>Reservation id: QWE309890</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Restaurant 02</h5>
      <small class="text-muted">cancel</small>
    </div>
    <p class="mb-1">(2020/10/30--12:00)    Persons: 2</p>
    <small class="text-muted">Reservation id: KHD9890</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Restaurant 03</h5>
      <small class="text-muted">cancel</small>
    </div>
    <p class="mb-1">(2020/11/05--18:00)    Persons: 4</p>
    <small class="text-muted">Reservation id: FWSD48290</small>
  </a>
</div>
