

<div class="form-group col-md-6 mb5">
  <div class="container-fluid">
    <div class="row bg-info justify-content-center
            align-items-center" style="height:80px">
        <div class="col-3"></div>
        <div class="col-6 text-light h2">
            Add table
        </div>
    </div>

<form>



  <div class="form-group">
    <label for="exampleFormControlSelect1">Add Table</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Add Available Time</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>11:00</option>
      <option>12:00</option>
      <option>13:00</option>
      <option>14:00</option>
      <option>15:00</option>
    </select>
  </div>

</form>
<a class="btn btn-primary" >Add</a>&nbsp;
<a class="btn btn-primary" (click)="btnClick();" >View Table List</a>


</div>

</div>>
